:root {
  --backgroundcolor: rgb(78, 93, 115);
  --red: rgb(219, 64, 53);
  --softblack: rgb(27, 36, 38);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--backgroundcolor);
  font-family: "Inter", sans-serif;
}

#container {
  background-color: whitesmoke;
  width: 650px;
  min-height: 600px;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 200px 1fr;
}

aside {
  padding: 20px 10px 20px;
  background-color: rgb(245, 242, 239);
  color: rgb(40, 37, 37);
  display: flex;
  flex-direction: column;
}

aside div {
  margin: 0;
  display: flex;
  flex-direction: row;
  padding: 12px;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
  transition: 0.1s ease-in-out;
}

.logo-div:not(:first-child) {
  cursor: pointer;
}

.logo-div {
  font-size: 10px;
  padding: 0;
  margin-bottom: 10px;
  display: flex;
  gap: 3px;
  align-items: center;
}

.logo-div:hover {
  background-color: rgb(245, 242, 239) !important;
}

.logo-div i:first-of-type {
  color: var(--softblack);
}

.logo-div i:last-of-type {
  color: var(--red);
}

.logo-div span:last-child {
  color: var(--red);
  font-size: 18px;
  font-weight: 600;
}

#user-icon {
  color: var(--softblack);
}

strong {
  font-weight: 600;
}

aside div:nth-child(3) {
  color: var(--red);
  font-weight: 500;
}

aside div:last-child {
  color: var(--red);
  background-color: antiquewhite;
}

#user-icon,
#add-todo-icon,
#inbox-icon {
  width: 22px;
}

aside span {
  font-size: 14px;
}

aside div:not(:last-child):hover {
  background-color: lightgray;
}

main {
  padding: 35px 50px 20px 20px;
}

main h1 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
}

#todos-list {
  padding-top: 10px;
  font-size: 14px;
}

#todos-list ul {
  list-style-type: none;
  padding-left: 0;
}

#todos-list ul li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

#todos-list ul li:first-child {
  padding-bottom: 10px;
}

#todos-list ul li:not(:first-child) {
  padding: 10px 0;
}

#todos-list ul li span:last-child {
  margin-left: auto;
  color: lightgrey;
  transition: 0.1s ease-in-out;
}

#todos-list ul li span:last-child:hover {
  color: var(--softblack);
}

#todos-list ul li span:last-child:active {
  color: var(--softblack);
}

.todo-checkbox {
  opacity: 0;
  position: absolute;
}

.todo-checkbox,
.todo-checkbox-label {
  display: inline-block;
  cursor: pointer;
}

.todo-checkbox + .todo-checkbox-label:before {
  content: "";
  background: whitesmoke;
  border: 1px solid grey;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  padding: 2px;
  margin-right: 0px;
  text-align: center;
  border-radius: 50%;
}

.todo-checkbox:checked + .todo-checkbox-label:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: grey;
  border: 1px solid var(--red);
}

.todo-span {
  margin-left: 10px;
}

.todo-span input {
  border: none;
  outline: none;
  background-color: lightgray;
  border-radius: 3px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  position: relative;
  left: -2px;
}

.todo-checked-off {
  text-decoration: line-through;
}

.red {
  color: var(--red);
}

.add-todo-from-main {
  display: flex;
  align-items: center;
  gap: 10px;
  color: grey;
  padding-left: 4px;
}

.add-todo-from-main span:last-child {
  font-size: 14px;
}

#hover-effect > * {
  transition: 0.1s ease-in-out;
}

#hover-effect:hover span {
  color: var(--red) !important;
}

#hover-effect:hover #circle {
  background-color: var(--red) !important;
}

#hover-effect:hover #plus-sign-icon {
  color: whitesmoke !important;
}

#circle {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 50%;
  outline: none;
  background-color: whitesmoke;
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#plus-sign-icon {
  font-size: 17px;
  color: var(--red);
}

#x-icon {
  font-size: 21px;
  color: var(--red);
  position: relative;
  top: -0.25px;
}

#dropdown {
  display: flex;
  border: 1px solid grey;
  border-radius: 7px;
  padding: 10px;
  margin-top: 10px;
}

#dropdown input {
  width: 100%;
  border: none;
  outline: none;
  background-color: whitesmoke;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

#dropdown form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}

#submit-todo {
  border: 0;
  outline: none;
  padding: 7px 10px;
  border-radius: 5px;
  background-color: lightgrey;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

#submit-todo:disabled {
  cursor: not-allowed;
}

.modal {
  background-color: whitesmoke;
  width: 380px;
  height: max-content;
  outline: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 10px 20px 20px;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
}
